.b-solid {
    border-style: solid;
}
.b-heavy-bottom {
    border-width: 0 0 3px;
}
.b-heavy-top {
    border-width: 3px 0 0;
}
.b-bottom-current {
    border-bottom: 1px solid currentColor;
}
.b-left-current {
    border-left: 1px solid currentColor;
}