.btn, .textInput, select {
    border-width: 2px;
    border-style: solid;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    line-height: 1.2;
    font-size: 1em;
}
.btn {
    display: inline-block;
    text-decoration: none;
}
.textInput, select {
    width: 100%;
    display: block;
}