.grid {
    display: grid;
    > * {
        margin-top: 0;
    }
}
.grid-gap-sm {
    grid-gap: 1rem;
}
.grid-cols-flex {
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
}
.grid-cols-2 {
    @include respond(sm) {
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
}
.grid-cols-2-xs {
    grid-template-columns: repeat(2,minmax(0,1fr));
}

.xs-grid-stack {
    @media screen and (max-width: 767px) {
        grid-template-columns: minmax(calc(100vw - 2rem),767px) !important;
    }
}