.grid {
    display: grid;
    > * {
        margin-top: 0;
    }
}
.grid-gap-sm {
    grid-gap: 1rem;
}
.grid-cols-flex {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}
.grid-cols-2 {
    @include respond(sm) {
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
}