@mixin py($gap) {
  padding-top: $gap;
  padding-bottom: $gap;
}
@mixin px($gap) {
  padding-left: $gap;
  padding-right: $gap;
}

// John: these additions cool? 
.p-xs {
  padding: 0.5rem;
}
.p-sm {
  padding: 1rem;
}
.px-sm {
  @include px(1rem);
}
.pr-sm {
  padding-right: 1rem;
}
.pl-md {
  padding-left: 2rem;
}
.py-section {
  @include py(var(--section_y_padding_mobile));
  @include respond(sm) {
    @include py(var(--section_y_padding));
  }
}