@mixin py($gap) {
  padding-top: $gap;
  padding-bottom: $gap;
}
@mixin px($gap) {
  padding-left: $gap;
  padding-right: $gap;
}

// John: these additions cool? 
.p-sm {
  padding: 1rem;
}
.px-sm {
  @include px(1rem);
}
.px-md {
  @include px(2rem);
}
.pl-md {
  padding-left: 2rem;
}
.pr-sm {
  padding-right: 1rem;
}



.py-section {
  @include py(var(--section-padding-vertical-mobile));
  @include respond(sm) {
    @include py(var(--section-padding-vertical-desktop));
  }
}
