section {
    padding: var(--section_y_padding_mobile) 0;
    @include respond(sm) {
        padding: var(--section_y_padding) 0;
    }
    &:nth-of-type(odd) {
        background: var(--odd_numbered_sections_background_color);
    }
    &:first-of-type {
        margin-top: var(--section_y_padding_mobile);
        @include respond(sm) {
            margin-top: var(--section_y_padding);
        }
    }
}