// @include varsToInline(
//     "size",
//     "font-size",
//     (
//         "headerLink": 4rem,
//         "leadText": 2.5rem
//     )
// );

.size-headerLink {
    font-size: var(--size-headerLink);
}
.size-navLink {
    font-size: var(--size-navLink);
}
.lead {
    font-size: var(--size-leadText);
}
svg {
    width: 1em;    
    fill: currentColor;
    stroke: currentColor;
}
.full-width {
    svg {
        width: 100%;
    }
}
