picture {
    display: block;
}
p:empty {
    display: none;
}
.block, div, h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, audio, picture, figure {
    margin-top: 1.5em;
}
li {
    margin-top: 1em;
}
img {
    margin: 0 auto;
}
figure {
    text-align: center;
}
*:first-child {
    margin-top: 0;
}
.lh-1 {
    line-height: 1;
}
.size-reduce {
    font-size: 0.8em;
}
h1 {
    text-align: center;
}

hr {
    margin: 2rem 0;
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.decoration-none {
    text-decoration: none;
}
.list-reset {
    margin: 0;  
    padding: 0;
    list-style: none;
}
pre, code {
    background: rgb(226, 226, 226);
}
pre {
    margin-top: 2rem;
    max-width: 100%;
    overflow: auto;
    padding: 5px;
}
code {
    padding: 0.25em;
}

blockquote {
    padding-left: 1rem;
    border-left-width: 5px;
    border-left-style: solid;
    > p:first-child:before {
        content: "\0201c";
    }
    > p:last-child:after {
        content: "\0201d";
    }
}



.hideIfFirst:first-child {
    display: none;
}

.active {
    text-decoration: none;
    pointer-events: none;
}