body {
    font-size: 1.5rem;
    line-height: 1.6667;
    font-family: var(--default-font);
}
picture {
    display: block;
}
.block, div, h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, section, audio, picture, figure {
    margin-top: 1.5em;
}
h3 + * {
    margin-top: 1em;
}
h1 {
    font-weight: 300;
}
h3, h5 {
    font-weight: 400;
}
h2, h4, h6 {
    font-weight: 600;
}
li {
    margin-top: 1em;
}
*:first-child {
    margin-top: 0;
}
@mixin fontSize($mobileSize) {
    $desktopIncrease: 1.5;
    font-size: $mobileSize;
    @include respond(sm) {
        font-size: $mobileSize*$desktopIncrease;
    }
}
h1 {
    @include fontSize(2.7rem);
    line-height: 1.1;
    text-align: center;
    // margin-bottom: 2rem;
    // @include respond(sm) {
    //     margin-bottom: 4rem;
    // }
}
h2 {
    @include fontSize(2.3rem);
    line-height: 1.1;
    border: 4px solid currentColor;
    padding: 0 0.5rem;
    display: inline-block;
}
h3 {
    @include fontSize(2.1rem);
    line-height: 1.2;
}
h4 {
    @include fontSize(1.8rem);
    line-height: 1.2;
}
h5 {
    @include fontSize(1.5rem);
    line-height: 1.4;
}
h6 {
    @include fontSize(1.2rem);
    line-height: 1.4;
}
hr {
    margin: 2rem 0;
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.decoration-none {
    text-decoration: none;
}
.list-reset {
margin: 0;  
  padding: 0;
  list-style: none;
}
pre, code {
    background: rgb(226, 226, 226);
}
pre {
    margin-top: 2rem;
    max-width: 100%;
    overflow: auto;
    padding: 5px;
}

blockquote {
    padding-left: 1rem;
    border-left: 5px solid var(--lightBg-aside);
    > p:first-child:before {
        content: "\0201c";
    }
    > p:last-child:after {
        content: "\0201d";
    }
}

code {
    padding: 0.25em;
}

.hideIfFirst:first-child {
    display: none;
}