{{ if ne $.Site.Params.hideHeader true }}
<header>
<div class="flex justify-between bg-alt b-solid b-heavy-bottom b-color-alt">
    <a href="{{ .Site.BaseURL }}" class="p-sm size-headerLink">
        <span class="sr-only">{{ .Site.Title }}</span>
        {{- partial "logo.html" . -}}
    </a>
    
    
    <button aria-label="Toggle site navigation" type="button" class="p-sm link size-headerLink" data-toggle-class data-toggle-class-on-target data-toggle-escape data-toggle-modal data-toggle-target="#siteNavLightbox, body">
        <span class="mobileMenuIcon is-bars"><span></span><span></span><span></span></span>
    </button>

</div>
{{- partial "siteNav.html" . -}}
</header>
{{/* partial "breadcrumbs.html" . */}}
{{ end }}