{{ if ne $.Site.Params.hideHeader true }}
<header class="">
    {{- partial "language-nav.html" . -}}
<div class="flex justify-between mt-0 bg-alt b-solid b-heavy-bottom b-color-siteHeader">
    
    <a href="{{ "/" | absLangURL }}" class="p-xs px-sm size-homeLink decoration-none flex align-center lh-1">
        {{- partial "logo.html" . -}}
    </a>
    
    
    <button aria-label="Toggle site navigation" type="button" class="width-iconNavLink p-sm link lh-1 size-navLink" data-toggle-class data-toggle-class-on-target data-toggle-escape data-toggle-modal data-toggle-target="#siteNavLightbox, body">
        <span class="mobileMenuIcon is-bars"><span></span><span></span><span></span></span>
    </button>

</div>
{{- partial "siteNav.html" . -}}
</header>
{{/* partial "breadcrumbs.html" . */}}
{{ end }}