{{ if not .Parent.IsHome }}
<aside class="prose no-label">

  {{ $pages := $.Page.Parent.Pages }}

    {{ with $pages.Next $.Page }}
    <div>
    <h6 class="inline pr-sm">{{ i18n "previousPage" }}:</h6>
    <a href="{{ .Permalink }}" class="">{{ .Title }}</a>
  </div>
    {{ end }}

  
    {{ with $pages.Prev $.Page }}

      <h6 class="inline pr-sm">{{ i18n "nextPage" }}:</h6>
    <a href="{{ .Permalink }}" class="">{{ .Title }}</a>

    {{ end }}

{{ if ne (len $pages) 1 }}
<hr class="hideIfFirst"  />
{{ end }}
<h6 class="inline pr-sm">{{ i18n "parentPage" }}:</h6><a href="{{ $.Page.Parent.Permalink }}">{{ $.Page.Parent.Title }}</a>

</aside>

{{ end }}