{{ if .Parent.Param "showSiblingNavOfChildPages" }}
<aside class="prose no-label">

  {{ $pages := where $.Page.Parent.Pages ".RelPermalink" "!=" "/-hidden/"  }}
  
  {{ with $pages.Prev $.Page }}
    <div class="text-right pl-sm">
    
    
      <h6 class="">{{ i18n "nextPage" }}</h6>
    <a href="{{ .Permalink }}" class="">{{ .Title }}</a>
    
    </div>
    {{ end }}

  {{ with $pages.Next $.Page }}
  <div class="pr-sm text-left">
    
    <h6 class="">{{ i18n "previousPage" }}</h6>
    <a href="{{ .Permalink }}" class="">{{ .Title }}</a>
  </div>
  {{ end }}
  
  

{{ if ne (len $pages) 1 }}
<hr class="hideIfFirst"  />
{{ end }}
<div class="text-center">
<h6 class="">{{ i18n "parentPage" }}</h6><a href="{{ $.Page.Parent.Permalink }}">{{ $.Page.Parent.Title }}</a>
</div>

</aside>

{{ end }}
