<div
    id="siteNavLightbox"
	class="modal bg-alt mt-0"
	role="dialog"
	aria-hidden="true">
    <nav class="">
        <ul class="mt-0 list-reset">

            {{ $siteLang := index (where .Sites "Language.Lang" .Lang) 0 }}
            {{ $currentPage := . }}
            {{ $hiddenPage := $.Site.GetPage "/hidden"}}
            
            {{ range .Site.Menus.main }}
            {{ $noLangUrl := replace .URL (print "/" $.Lang ) "" }}
            {{ $page := $siteLang.GetPage (print $noLangUrl) }}
            {{ if $page.Parent.IsHome }}
            {{ if not ($page.IsDescendant $hiddenPage) }}
            {{ $hasActiveChild := false }}
            {{ if $page.Sections }}
                {{ range $page.Sections }}
                    {{ if eq $currentPage.Permalink .Permalink }}
                        {{ $hasActiveChild = true }}
                    {{ end }}
                {{ end }}
            {{ end }}
            {{ $curIsOpenClass := "" }}
            {{ $ariaHidden := "true" }}
            {{ if $hasActiveChild }}
                {{ $curIsOpenClass = "is-open" }}
                {{ $ariaHidden = "false" }}
            {{ end }}
            
            
                    <li class="mt-0">
                        
                        <div class="flex">
                        <a class="flex-1 p-xs px-sm size-navLink decoration-none b-bottom-current {{ if $currentPage.IsMenuCurrent "main" . }}active bg-accent{{ end }}"  href="{{ .URL }}">
                            {{ .Pre }}
                            <span>{{ .Name }}</span>
                        </a>
                        {{ if $page.Sections }}
                        <button
        type="button"
        id="nav-{{ .Name | urlize }}-items-trigger"
        class="width-iconNavLink p-xs px-sm py-0 size-navLink lh-1 bg-off b-bottom-current b-left-current link {{ $curIsOpenClass }}"
        data-toggle-class="is-open"
        data-toggle-target="#nav-{{ .Name | urlize }}-items">
        <span class="sr-only">Toggle {{ .Name }} Items</span>
        
        <span class="toggleRotate size-reduce">&#10095;</span>
    </button>

    
                        {{ end }}
                        </div>
                        
                        {{ if $page.Sections }}
                        
            
                        <ul class="openable bg-off mt-0 list-reset {{ $curIsOpenClass }}" role="region" aria-labelledby="nav-{{ .Name | urlize }}-items-trigger" aria-hidden="{{ $ariaHidden }}" id="nav-{{ .Name | urlize }}-items">
                        {{ range $page.Sections }}
                        
    <li class="mt-0"><a href="{{ .Permalink }}" class="block p-xs px-sm add-bullet size-navLink decoration-none b-bottom-current  {{ if eq $currentPage.Permalink .Permalink }}active bg-accent{{ end }}">{{ .Title }}</a></li>

    {{ end }}
    </ul>
    {{ end }}
                        
                    </li>
                    {{ end }}
                    {{ end }}
                    {{ end }}
                    
            
        </ul>
    </nav>

</div>