<div
    id="siteNavLightbox"
	class="modal bg-alt mt-0"
	role="dialog"
	aria-hidden="true">
    <nav class="">
        <ul class="mt-0 list-reset">
            {{ $currentPage := . }}
            {{ $hiddenPage := $.Site.GetPage "/hidden"}}
            {{ range .Site.Menus.main }}
            {{ $page := $.Site.GetPage .URL }}
            {{ if $page.Parent.IsHome }}
            {{ if not ($page.IsDescendant $hiddenPage) }}
                    <li class="mt-0">
                        
                        <div class="flex">
                        <a class="flex-1 p-sm size-navLink decoration-none b-bottom-current {{ if $currentPage.IsMenuCurrent "main" . }}active {{ end }}"  href="{{ .URL }}">
                            {{ .Pre }}
                            <span>{{ .Name }}</span>
                        </a>
                        {{ if $page.Sections }}
                        <button
        type="button"
        id="nav-{{ .Name | urlize }}-items-trigger"
        class="p-sm px-md py-0 size-navLink bg-off b-bottom-current b-left-current link"
        data-toggle-class="is-open"
        data-toggle-target="#nav-{{ .Name | urlize }}-items">
        <span class="sr-only">Toggle {{ .Name }} Items</span>
        
        <span class="toggleRotate">&#10095;</span>
    </button>

    
                        {{ end }}
                        </div>
                        
                        {{ if $page.Sections }}
                        
            
                        <ul class="openable bg-off mt-0 list-reset" role="region" aria-labelledby="nav-{{ .Name | urlize }}-items-trigger" aria-hidden="true" id="nav-{{ .Name | urlize }}-items">
                        {{ range $page.Sections }}
                        
    <li class="mt-0"><a href="{{ .Permalink }}" class="block p-sm pl-md size-navLink decoration-none b-bottom-current  {{ if eq $currentPage.Permalink .Permalink }}active{{ end }}">{{ .Title }}</a></li>

    {{ end }}
    </ul>
    {{ end }}
                        
                    </li>
                    {{ end }}
                    {{ end }}
                    {{ end }}
                    
            
        </ul>
    </nav>

</div>