{{ $taxonomy := "categories" }} {{ with .Param $taxonomy }}
<hr class="mt-xl">
<div>
  <h6 class="inline pr-sm">Category:</h6>
  

  {{ range $index, $tag := . }} {{ with $.Site.GetPage (printf "/%s/%s"
  $taxonomy $tag) -}}

    <a href="{{ .Permalink }}">{{ $tag | urlize }}</a>

  {{- end -}} {{- end -}}


</div>
{{ end }}


  
  {{ $taxo := "tags" }} <!-- Use the plural form here -->
  {{ with .Param $taxo }}
  <div class="mt-0">
  <h6 class="inline pr-sm">Tag{{ if gt (len .) 1 }}s{{ end }}:</h6>
      {{ range $index, $item := . }}
          {{- if gt $index 0 }}, {{ end -}}
          {{ with $.Site.GetPage (printf "/%s/%s" $taxo $item | urlize) -}}
              <a href="{{ .Permalink }}">{{ $item }}</a>
          {{- end -}}
      {{- end -}}
    </div>
      <hr>
  {{ end }}